.ResultContainer {
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.playAgainButton {
  width: 30%;
  text-align: center;
}
.playAgainButton h1 {
  font-size: 3vw;
  color: rgba(255, 255, 255, 0.9);
}
.playAgainButton button {
  width: 100%;
  font-size: 2vw;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: bolder;
  padding: 1vw 0.5vw;
  border: 2px solid transparent;
  border-radius: 10px;
  color: hsl(229, 25%, 31%);
  cursor: pointer;
}
.playAgainButton button:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);
}
.playerSelection {
  position: relative;
}
.computerSelection {
  position: relative;
}
